<div id="search">
  <form id='form' novalidate ng-submit="useSearchToGetResult()">
    <h2>Where you runnin'?</h2>
    <div><input type="text" placeholder="611 Mission St. San Francisco, CA 94105" ng-model="search.start" /></div>
    <div><input type="text" placeholder="# of miles" ng-model="search.distance" /></div>
  </br>
    <div>
      <input type="radio" name="gender" value="male" ng-model="search.gender" checked>Male
      <input type="radio" name="gender" ng-model="search.gender" value="female">Female
    </div>
    <input type="submit" value="submit" />
  </form>
</div>